<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,user-scalable=no">
    <title>これ☆ほし</title>
    <link rel="stylesheet" href="css/style_toko.css">
    <link rel="apple-touch-icon" href="img/_common/korehoshi.png">
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/toko.js"></script>
</head>
<body>

    <header>
        <div id="header">
            <input type="image" src="img/_common/header/head_back.gif" onClick="history.go(-1);" class="back"></input>
            <img src="img/_common/header/hrad_title.gif" class="logo" alt="コレ☆ホシ"></img>
            <div class="clear"></div>
        </div>
    </header>

    <!-- ページ本体 -->
    <div id="main">

    <h1>アカウントページ</h1>

    </div><!-- main -->
    <!-- ページ本体ここまで -->

    <footer>
        <div id="footer">
            <form method="get" action="/feed">
                <input type="image" src="img/_common/footer/footer_feed.png" class="footer-icon feed"></input>
            </form>
            <form method="get" action="/home">
                <input type="image" src="img/_common/footer/footer_home.png" class="footer-icon home"></input>
            </form>
            <form method="get" action="/toko">
                <input type="image" src="img/_common/footer/footer_toko.png" class="footer-icon toko"></input>
            </form>
            <form method="get" action="/ranking">
                <input type="image" src="img/_common/footer/footer_ranking.png" class="footer-icon rank"></input>
            </form>
            <form method="get" action="/account">
                <input type="image" src="img/_common/footer/footer_account_on.png" class="footer-icon account"></input>
            </form>
            <div class="clear"></div>
        </div>
    </footer>

</body>
</html>