<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,user-scalable=no">
    <title>これ☆ほし</title>
    <link rel="stylesheet" href="css/style_account.css">
    <link rel="apple-touch-icon" href="img/_common/korehoshi.png">
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/account.js"></script>
</head>
<body>

    <header>
        <div id="header">
            <input type="image" src="img/_common/header/head_back.gif" onClick="history.go(-1);" class="back"></input>
            <img src="img/_common/header/hrad_title.gif" class="logo" alt="コレ☆ホシ"></img>
            <div class="clear"></div>
        </div>
    </header>

    <!-- ページ本体 -->
    <div class="main">
            <div class="top">
                <!--★アカウント設定-->
                <img src="img/05_account/account_title.gif" class="account_title">
            </div>
            
        <div class="profile">
            
            <div class="name">
                    <img src = "img/_common/icon01.jpg" class = "facePhoto"><br/>
                    <div>kamimura3</div>
            </div><!--name-->  
             
                
            <ul class="sns">
                <li><img src="img/05_account/account_profile_have.gif"><label id="l1">65</label></li>
                <li class="snsli"><img src="img/05_account/account_profile_want.gif"><label id="l2">199</label></li>
                <li class="snsli"><img src="img/05_account/account_profile_follow.gif"><label id="l3">69</label></li>
                <li class="snsli"><img src="img/05_account/account_profile_follower.gif"><label id="l4">64</label></li>
            </ul>
                 
            
            
            <div class="comment">
                <div>
               <img src="img/05_account/profile_comment.gif">
               <!--<input type="image" src="imgaccount/account_profile_comment(1).png" width="200px"></input>-->
                <!--<img src="imgaccount/account_profile_comment_mid.png" width="385px" height="20px">-->
               <!--<img src="imgaccount/account_profile_comment_bottom.png">-->
<!--                 <textarea id="oneline_comment" class="hitokoto" cols="17" rows="6" maxlength="140" placeholder="ここに一言コメントが入っている" readonly>ひゃっはー</textarea>
 -->                <!--<input type="text" id="oneline_comment" size="50px"/>-->
                </div>
            </div>
        </div>
        
        
        
        
        <p>
        <table  class="settei">
            <tbody>
                 <tr>
                     <td>
                        <div class="setteiIn"><a href="account_profile.html">プロフィール編集</a></div>
                        <hr class="hr">
                        <div class="setteiIn"><a href="account_pw.html">パスワード編集</a></div>
                        <hr class="hr">
                        <div class="setteiIn"><a href="#">ログアウト</a></div>
                     </td>
                     
                </tr>
                <!--<tr>
                     <td>パスワード編集</td>
    
                 </tr>
                 <tr>
                     <td>ログアウト</td>
    
                 </tr>-->
            </tbody >
            </table>
        </p>
        
        
        
        <p>
        <table  class="settei2">
            <tbody>
                <tr>
                     <td>
                        <a href="#">アカウント検索</a>  
                    </td>
    
                 </tr>
            </tbody >
            </table>
        </p>
        
        
        
        <p>
        <table  class="settei3">
            <caption><img src="img/05_account/account_title_sns.gif"></caption>
            <tbody>
                <tr>
                     <td>
                        <div class="setteiIn"><a href="#">Ameba</a></div>
                        <hr class="hr">
                        <div class="setteiIn"><a href="#">facebook</a></div>
                        <hr class="hr">
                        <div class="setteiIn"><a href="#">Twitter</a></div>
                    </td>
    
                </tr>
                <!-- <tr>
                     <td>facebook</td>
    
                </tr>
                <tr>
                     <td>Twitter</td>
    
                 </tr>-->
            </tbody >
            </table>
        </p>
        
        
        
    </div><!--main-->
    <!-- ページ本体ここまで -->

    <footer>
        <div id="footer">
            <form method="get" action="/feed">
                <input type="image" src="img/_common/footer/footer_feed.png" class="footer-icon feed"></input>
            </form>
            <form method="get" action="/home">
                <input type="image" src="img/_common/footer/footer_home.png" class="footer-icon home"></input>
            </form>
            <form method="get" action="/toko">
                <input type="image" src="img/_common/footer/footer_toko.png" class="footer-icon toko"></input>
            </form>
            <form method="get" action="/ranking">
                <input type="image" src="img/_common/footer/footer_ranking.png" class="footer-icon rank"></input>
            </form>
            <form method="get" action="/account">
                <input type="image" src="img/_common/footer/footer_account_on.png" class="footer-icon account"></input>
            </form>
            <div class="clear"></div>
        </div>
    </footer>

</body>
</html>