<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,user-scalable=no">
    <title>これ☆ほし</title>
    <link rel="stylesheet" href="css/style_feed.css">
    <link rel="apple-touch-icon" href="img/_common/korehoshi.png">
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/feed.js"></script>
</head>
<body>
    <header>
        <div id="header">
            <input type="image" src="img/_common/header/head_back.gif" onClick="history.go(-1);" class="back"></input>
            <img src="img/_common/header/hrad_title.gif" class="logo" alt="コレ☆ホシ"></img>
            <div class="clear"></div>
        </div>
    </header>
    
    <!-- ページ本体 -->
    <div id="main">

        <!-- 検索 -->
        <nav>
        <div id="nav">
            <input type="search" name="search" maxlength="32" placeholder="キーワードで検索する" class="search-form"></input>
            <input type="button" value="" onclick="this.form.submit();" class="search-submit"></input>
        </div>
        </nav>
    
        <div class="container-line">
            <article>
            <div class="container left me">
                <div class="user-info">
                    <img src="img/_common/icon01.jpg" class="user-icon"></img>
                    <h2>kamimura3</h2>
                </div>
                <input type="image" src="img/_common/photo01.png" class="item"></input>
                <div class="comment_area">
                    この靴、ほしい～っ！
                </div>
                <div class="action-icon">
                    <div class="action"><label class="star"><input type="checkbox" class="good"></input></label></div>
                    <div class="action"><input type="image" src="img/_common/btn_comment.png" class="comment_img" value="コメントする"></input></div>
                    <div class="clear"></div>
                </div>
            </div>
            </article>    
            <article>
            <div class="container right you">
                <img src="img/_common/icon02.jpg" class="user-icon"></img>
                <h2>tsujitaku</h2>
                <input type="image" src="img/_common/photo02.png" class="item"></input>
                <div class="comment_area">
                    金貯めて迎えに行くから待っててくれよな！
                </div>
                <div class="action-icon">
                    <div class="action"><label class="star"><input type="checkbox" class="good"></input></label></div>
                    <div class="action"><input type="image" src="img/_common/btn_comment.png" class="comment_img" value="コメントする"></input></div>
                    <div class="clear"></div>
                </div>
            </div>
            </article>
        </div>
    
        <div class="container-line">
            <article>
            <div class="container left you">
                <img src="img/_common/icon03.jpg" class="user-icon"></img>
                <h2>rupan009</h2>
                <input type="image" src="img/_common/photo03.png" class="item"></input>
                <div class="comment_area">
                    今度のお給料はいったら買うよーーー！！
                </div>
                <div class="action-icon">
                    <div class="action"><label class="star"><input type="checkbox" class="good"></input></label></div>
                    <div class="action"><input type="image" src="img/_common/btn_comment.png" class="comment_img" value="コメントする"></input></div>
                    <div class="clear"></div>
                </div>
            </div>
            </article>
    
            <article>
            <div class="container right you">
                <img src="img/_common/icon04.jpg" class="user-icon"></img>
                <h2>saki_pororin</h2>
                <input type="image" src="img/_common/photo04.png" class="item"></input>
                <div class="comment_area">
                    来月発売だとよ！
                </div>
                <div class="action-icon">
                    <div class="action"><label class="star"><input type="checkbox" class="good"></input></label></div>
                    <div class="action"><input type="image" src="img/_common/btn_comment.png" class="comment_img" value="コメントする"></input></div>
                    <div class="clear"></div>
                </div>
            </div>
            </article>
        </div>
    </div>
    <!-- ページ本体ここまで -->

    <footer>
        <div id="footer">
            <form method="get" action="/feed">
                <input type="image" src="img/_common/footer/footer_feed_on.png" class="footer-icon feed"></input>
            </form>
            <form method="get" action="/home">
                <input type="image" src="img/_common/footer/footer_home.png" class="footer-icon home"></input>
            </form>
            <form method="get" action="/toko">
                <input type="image" src="img/_common/footer/footer_toko.png" class="footer-icon toko"></input>
            </form>
            <form method="get" action="/ranking">
                <input type="image" src="img/_common/footer/footer_ranking.png" class="footer-icon rank"></input>
            </form>
            <form method="get" action="/account">
                <input type="image" src="img/_common/footer/footer_account.png" class="footer-icon account"></input>
            </form>
            <div class="clear"></div>
        </div>
    </footer>
</body>
</html>