/* fonts */
@font-face {
    font-family : ipaexg;
    src: url(../fonts/ipaexg.ttf);
}


/* header */
#header{
    background-color : #ff5757;
    height : 86px;
    width : 100%;
    position: fixed !important;
    position: absolute;  
    top: 0;  
    left: 0;  
    z-index : 1;    
}

#header .back{
    position: absolute;
    top: 16px;/*(86-50)/2*/
    left: 30px;
}

#header .logo{
    position : absolute;
    width : auto;
    top : 26px; /*(86-32)/2*/
    left : 220px; /*(640-199)/2*/
}

/*#header .bell{
    position : absolute;
    top : 16px;
    right: 30px;
}

#header .bell2{
    position : absolute;
    width : auto;
    top : 16px;
    right: 30px;
}
*/

/* innner */
body{
    font-family : ipaexg;
    background-color: #faf4ee;
    margin : 0;
    padding : 86px 0 150px 0;
    min-width : 640px;
    width : 640px;
    max-width : 640px;
}

/* account.html用のCSS*/

a:link{
    text-decoration:none;
    color:black;
}
a:visited {
    color:black; 
    }
a:hover { 
    color:black;
    }
a:active { 
    color:black; 
    }


.jsphoto{
    padding-left:20%;
}

.top{
   margin-top: 40px;
   margin-left: 30px;
    
}


.account_title{
}

.facePhoto{
   /* float : left;
    width:28%;
    height : 50%;
    padding-right:1%;*/
    width:136px;
    height :136px;
    margin-bottom: 20px;
}
.profile{
   margin-top: 40px;
   margin-left: 34px;    
}
.name{
    float:left ;
    width:178px;
    height :184px;
}

.name div{
    color:#ff5757;
    font-size:28px;

}



.sns{
    /*float : right;*/
    /*margin:12px;*/
    /*margin : 0;*/
    /*padding:12px;*/
    list-style-type:none;
   /* line-height : 120px;*/
   /* width:30px;*/
}

.sns label{
    font-size: 24px;
    position: absolute;
    top: 258px;
    display: inline;
}
#l1{left: 240px;}
#l2{left: 332px;}
#l3{left: 444px;}
#l4{left: 548px;}

ul.sns li {
    display: inline;
    margin-right: 12px;
}


.clearLeft { 
clear: left; 
}




.have{
    float:left;
}



.hitokoto{
    font-size: 24px;
    margin-right:80px;
    padding-left:10px;
    background-repeat: no-repeat;
    float:left;
   border-color : #faf4ee;
   background-image:url("../imgaccount/profile_comment.gif");

  /* background-image:url("imgaccount/account_profile_comment_top.png");*/
}


.comment{
    position: relative;
    left: 8px;
    padding-bottom: 40px;
}


.hr{
    border: 0;
    height: 2px;
    background-color:#ff5757;
    color :#ff5757;
}


.purohu{
   /* margin:150%;*/
    border: solid 2px #ff5757;
    text-align : center;
    width:100%;
    margin : auto;
    overflow : hidden;
}


.a{
    border: solid 2px #ff5757;
    color:#ff5757;
}


.settei{
    border: solid 2px #ff5757;
    color:black;
    width:90%;
    height: 70%; 
    background-color:white;
    margin-bottom:40px;
   /* padding-left:10%;*/
   margin:0 auto;
    font-size:24px;
     text-align:left;
    /*borderの角に丸みを与える*/
    border-radius: 5px;        /* CSS3草案 */  
    -webkit-border-radius: 10px;    /* Safari,Google Chrome用 */  
    -moz-border-radius: 10px; 
}

.setteiIn{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left:40px;
}


table.purohu{
    border: solid 2px #ff5757;
    font-size:24px;
}

.settei2{
    border: solid 2px #ff5757;
    color:black;
    width:90%;
    height: 70%;
    /*margin-top:80px;*/
    /*margin-bottom : 40px;*/
    background-color:white;
    margin-top: 40px;
    margin-left: 30px;
    font-size:24px;
    /*text-align:left;*/
    /*padding : 400px,0px,400px,0px;*/
    /*borderの角に丸みを与える*/
    border-radius: 5px;        /* CSS3草案 */  
    -webkit-border-radius: 10px;    /* Safari,Google Chrome用 */  
    -moz-border-radius: 10px; 
}

.settei2 td{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left:40px;
}

.settei3{
    border: solid 2px #ff5757;
    color:black;
    width:90%;
    height: 70%;
    margin-left: 30px;
    margin-top:40px;
    /*margin:10% 0% 60% 0%;*/
    background-color:white;
    font-size:24px;
     text-align:left;
    /*borderの角に丸みを与える*/
    border-radius: 5px;        /* CSS3草案 */  
    -webkit-border-radius: 10px;    /* Safari,Google Chrome用 */  
    -moz-border-radius: 10px; 
    
}
table.settei3 caption{
    width: 6em;
    caption-side:right;
    font-size:24px;
    margin-bottom: 20px;
}

/* footer */
#footer{
    background-color : #454545;
    width : 100%;
    height : 112px;
    filter : alpha(opacity=95);
    -moz-opacity : 0.95;
    opacity : 0.95;
    position : fixed !important;
    position : absolute;  
    bottom : 0;  
    left : 0;  
    z-index : 1;
}

#footer .footer-icon{
    margin-top: 20px;
    float : left;
}

#footer .feed{
    margin-left: 30px;
    margin-right: 62px;
}
#footer .home{
    margin-right: 56px;
}
#footer .toko{
    margin-right: 40px;
}
#footer .rank{
    margin-right: 34px;
}

.clear{
    clear : both;
}


