/* This is a CSS file */

/* fonts */
@font-face {
    font-family : ipaexg;
    src: url(../fonts/ipaexg.ttf);
}
/* このフォントを使うには，font-family:ipaexg;  */

/* 調整用 */
.clear{
    clear : both;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
}

input[type="search"]:focus {
  outline-offset: -2px;
}

input[type="search"]::-webkit-search-decoration {
  display: none;
}

/* body */
body{
    font-family : ipaexg;
    background-color : #faf4ee;
    margin : 0;
    padding : 86px 0 150px 0;
    min-width : 640px;
    width : 640px;
    max-width : 640px;
}

/* header */
#header{
    background-color : #ff5757;
    height : 86px;
    width : 100%;
    position: fixed !important;
    position: absolute;  
    top: 0;  
    left: 0;  
    z-index : 1;
    
}

#header .back{
    position: absolute;
    top: 16px;/*(86-50)/2*/
    left: 30px;
}

#header .logo{
    position : absolute;
    width : auto;
    top : 26px; /*(86-32)/2*/
    left : 220px; /*(640-199)/2*/
}

#header .bell{
    position : absolute;
    top : 16px; /*(86-52)/2*/
    right: 30px;
}

#header .bell2{
    position : absolute;
    width : auto;
    top : 16px; /*(86-52)/2*/
    right: 30px;
}

/* main */
#main{
    width : 100%;
    overflow : auto;
}

#main #nav{
    margin-top : 15px;
    width : 640px;
}

#main .search_form{
    margin-left : 24px;
    width : 456px;
    height : 56px;
    color : #c5c5c5;
    font-size : 24px;
    -webkit-border-radius : 50px;
    -moz-border-radius : 50px;
    -ms-border-radius : 50px;
    -o-border-radius : 50px;
    border-radius : 50px;
    border : 2px solid #ff5757;
}

#main .search_submit{
    margin-left : 16px;
    width : 110px;
    height : 60px;
    font-size : 24px;
    -webkit-border-radius : 50px;
    -moz-border-radius : 50px;
    -ms-border-radius : 50px;
    -o-border-radius : 50px;
    border-radius : 50px;
    border-color : #ff5757;
    color : #ffffff;
    background-color : #ff5757;
    border : 0px;
}

#main .container-line{
    width : 640px;
}

#main .container{
    width : 276px;
    height : 430px;
    margin : 40px 0 0 0;
    display : inline-block;
    padding : 0;
}

#main .left {
    margin-left : 30px;
    margin-right : 0px;
    float : left;
}

#main .right {
    margin-left : 24px;
    clear : both;
}

#main .container .user-icon{
    float : left;
    width : 46px;
    height : 46px;
    margin-left : 5px;
    -webkit-border-radius : 5px;
    -moz-border-radius : 5px;
    -ms-border-radius : 5px;
    -o-border-radius : 5px;
    border-radius : 5px;
    border : 2px solid #ffffff;
}

#main .container h2{
    clear : both;
    font-size : 24px;
    display : inline-block;
    margin-left : 15px;
    margin-top : 22px;
}

#main .girl h2{
    color : #fcb889;
}

#main .boy h2{
    color : #3896b6;
}

#main .girl{
    background-image : url(../img/girl.png);
    background-repeat : no-repeat;
    background-position : 0px 56px;
}

#main .boy{
    background-image : url(../img/boy.png);
    background-repeat : no-repeat;
    background-position : 0px 56px;
}

#main .container .item{
    width : 230px;
    height : 210px;
    margin : 14px 20px 0px 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    border : 2px solid #ffffff;
}

#main .container .comment_area{
    height : 48px;
    margin : 14px 24px 0px 24px;
    font-size : 24px;
}

#main .girl .comment_area{
    color : #ffffff;
}

#main .boy .comment_area{
    color : #237c9a;
}

#main .container .action-icon{
    width : 60px;
    margin : 20px 20px 20px auto;
}

#main .container .action-icon .good{
    width : 25px;
    height : 25px;
    float : left;
}

#main .container .action-icon .comment{
    width : 25px;
    height : 25px;
    margin-left : 10px;
    clear : both;
}



/* フチを丸く */
.radius{
    -webkit-border-radius : 50px;
    -moz-border-radius : 50px;
    -ms-border-radius : 50px;
    -o-border-radius : 50px;
    border-radius : 50px;
}


/* footer */
#footer{
    background-color : #454545;
    width : 100%;
    height : 112px;
    filter : alpha(opacity=95);
    -moz-opacity : 0.95;
    opacity : 0.95;
    position : fixed !important;
    position : absolute;  
    bottom : 0;  
    left : 0;  
    z-index : 1;
}

#footer .footer-icon{
    margin-top: 20px;
    float : left;
}

#footer .feed{
    margin-left: 30px;
    margin-right: 62px;
}
#footer .home{
    margin-right: 56px;
}
#footer .toko{
    margin-right: 40px;
}
#footer .rank{
    margin-right: 34px;
}
